-
	let advantages = [
		{
			image: 'low-price.svg',
			text: 'Лучшая<br>цена'
		},
		{
			image: 'assortment.svg',
			text: 'Огромный<br>ассортимент'
		},
		{
			image: 'diamond.svg',
			text: 'Лучшее<br>качество'
		},
		{
			image: 'quick.svg',
			text: 'Быстрая<br>доставка'
		},
		{
			image: 'percent.svg',
			text: 'Скидки<br>5%-30%'
		},
		{
			image: 'delivery-truck.svg',
			text: 'Доставка<br>по снг'
		}
	],
	how_items = [
		{
			text: 'Выбрать нужный товар, перейдя к нему через каталог в левой части сайта, <br>'+
			'выбрав его в одной из категорий в центральной части сайта, открыв <br>'+
			'каталог, кликнув по кнопке «каталог» в нижней части сайта либо найдя <br>'+
			'товар через поисковик.'
		},
		{
			text: 'Указать нужное количество товара, которое вы хотите приобрести.'
		},
		{
			text: 'Нажать кнопку «В корзину»'
		},
		{
			text: 'Если требуется купить еще 1 и более товаров, то повторить процедуру.'
		},
		{
			text: 'Перейти в «Корзину» в верхней части сайта, проверить выбранные товары <br>'+
			'и их количество.'
		},
		{
			text: 'Нажмите кнопку «Подтвердить», заполните данные в появившемся окне.'
		},
		{
			text: 'Нажмите «Заказать». Готово. <br>'+
			'Далее мы с Вами свяжемся чтобы подтвердить Вашу покупку <br>'+
			'с нашей стороны.'
		}
	],
	delivery_items = [
		{
			title: 'Доставка по Караганде :',
			text : 'Вы можете заказать доставку курьером или забрать товар лично в нашем магазине. <br>'+
			'<strong> Цена доставки курьером : от 1000тг.</strong> <br>'+
			'Акция : при заказе товаров на сумму <strong>от 20 000</strong> тг доставка осуществляется <strong>бесплатно</strong>'
		},
		{
			title: 'Доставка почтой или ТК (Казахстан , Россия , Белорусь) :',
			text:'Вы можете выбрать для себя наиболее удобный способ доставки, товары <br>'+
			'отправляются из города Караганда.'
		},
		{
			title: 'Почта Казахстана :',
			text:'Рассчитать контрольные сроки доставки и стоимость (наш индекс <strong>100022</strong>),<br>'+
			'отследить посылку (<strong>post.kz</strong>)'
		},
		{
			title: 'СДЭК (доставка до двери) :',
			text:'Международная компания с низкими ценами и высокими стандартами качества. <br>'+
			'Рассчитать контрольные сроки доставки и стоимость (<strong>cdek.kz</strong>)'
		},
		{
			title: 'DHL EXPRESS :',
			text:'Мировой лидер в области почтовых и логистических услуг, рассчитать <br>'+
			'контрольные сроки доставки и стоимость (<strong>dct.dhl.com</strong>)'
		}
	]
