aside.profile-aside
	nav
		a(href='/profile.html').profile-aside-item
			svg
				use(xlink-href='/img/sprite.svg#plus')
			span Add Memeber
		a(href='/details.html').profile-aside-item
			svg
				use(xlink-href='/img/sprite.svg#plus')
			span Acoount Details
		a(href='/membership.html').profile-aside-item
			svg
				use(xlink-href='/img/sprite.svg#plus')
			span Membership
		a(href='/notifications.html').profile-aside-item
			svg
				use(xlink-href='/img/sprite.svg#plus')
			span Notifications
		a(href='/benefits.html').profile-aside-item
			svg
				use(xlink-href='/img/sprite.svg#plus')
			span Benefits