extends template/main
append vars
	-
		page_title = 'Profile'
block content
	.row.profile-row
		include template/aside-profile
		main.details
			section.profile-content
				h1.title.details-title Account Details
				.profile-table-details
					h2.block-title Personal
					.table-cont.details-table
						table.table
							tbody
								tr
									td
										| Email
									td
										| john@aol.com
									td.table-links
										a(href='#' data-click="front:showForm" data-popup='#change-email').link Change
								tr
									td
										| Password
									td
										| ********
									td.table-links
										a(href='#' data-click="front:showForm" data-popup='#change-password').link Change
								tr
									td
										| Date of Birth
									td
										| 01/01/24
									td.table-links

								tr
									td
										| Name
									td
										| John Doe
									td.table-links
								tr
									td
										| Address
									td
										| 10410 W Prairie Hills Cir, Sun City, Az 64130
									td.table-links
								tr
									td
										| Phone Number
									td
										| (123) 456 7891
									td.table-links
					button.btn.-blue(data-click="front:showHalf") Update Details
			#update-form.popup-half
				.popup-half-left(data-click="front:closeHalf")
				.popup-half-right
					button.popup-close.-half(data-click="front:closeHalf")
						svg
							use(xlink:href='/img/sprite.svg#lclose')
					h2.block-title Update your personal information
					form.popup-half-form
						.row.profile-block-row
							label.inpt
								input(type='text'  value='John' placeholder="Name")
							label.inpt
								input(type='text'  value='Doe' placeholder='Last Name')
						label.inpt.-full
							input(type='text'  value='10410 W Prairie Hills Cir, Sun City, Az 64130' placeholder='Address')
						label.inpt.-full
							input(type='text'  value='Sarasota' placeholder='City')
						.row.change-row
							.inpt
								label.select.change-select(data-click='front:openSelect')
									span.select-head
										span.select-option Florida
										svg
											use(xlink:href='/img/sprite.svg#chevron_right')
									span.select-body
										span.select-body-item.-active
											strong Florida
										span.select-body-item
											strong Florida
										span.select-body-item
											strong Florida
							.inpt
								input(type='text' value='64130' placeholder='Postal Code')
						label.inpt.-full
							input(type='text'  value='(123) 456 7891' placeholder='Phone Number')
						button.btn Update
	include footer-profile