extends template/main
append vars
	-
		page_title = 'Profile'
block content
	.row.profile-row
		include template/aside-profile
		main
			section.profile-content
				h1.title Account Details
				.profile-table-details
					h2.block-title Personal
					.table-cont.profile-table
						table.table
							tbody
								tr
									td
										| Email
									td
										| john@aol.com
									td
										a(href='#' data-click="front:showForm" data-popup='#change-email').link Verify
								tr
									td
										| Password
									td
										| ********
									td
										a(href='#' data-click="front:showForm" data-popup='#change-password').link Change
								tr
									td
										| Date of Birth
									td
										| 01/01/24
									td

								tr
									td
										| Name
									td
										| John Doe
									td
								tr
									td
										| Address
									td
										| 10410 W Prairie Hills Cir, Sun City, Az 64130
									td
								tr
									td
										| Phone Number
									td
										| (123) 456 7891
									td
					button.btn.-blue(data-click="front:showHalf") Update Details
			#update-form.popup-half
				.popup-half-left
				.popup-half-right
					button.popup-close(data-click="front:closeHalf")
						svg
							use(xlink:href='/img/sprite.svg#close')
					h2.block-title Update your personal information
					form.popup-half-form
						.row.profile-block-row
							label.inpt
								input(type='text'  value='John')
							label.inpt
								input(type='text'  value='Doe')
						label.inpt.-full
							input(type='text'  value='10410 W Prairie Hills Cir, Sun City, Az 64130')
						label.inpt.-full
							input(type='text'  value='Sarasota')
						.row.change-row
							.inpt
								label.select.change-select
									span.select-head
										span.select-option Florida
										svg
											use(xlink:href='/img/sprite.svg#chevron_right')
									span.select-body
							.inpt
								input(type='text' value='64130')
						label.inpt.-full
							input(type='text'  value='(123) 456 7891')
						button.btn Update
	include footer-profile