footer.foot
	.section
		.row.foot-row
			.foot-site
				a(href='#') identimaxx.com
			nav.foot-menu
				a(href='#') Privacy Policy
				span.dot
				a(href='#') Terms of Service
				span.dot
				a(href='#') Support
			.foot-copy
				| © Identimaxx 2024. All rights reserved.
		.popup#popup
			#popup-inner.popup-inner
				#popup-head.popup-head
				#popup-body.popup-body
				button.popup-close(data-click="front:closePopup")
					svg
						use(xlink:href='/img/sprite.svg#close')
		div(hidden)#popup-temp
			.member-popup.delete-member#member-popup
				h5.title-popup.block-title Delete member?
				p.text.member-text Would you like to delete this monitored member from your account?
				.member-buttons
					button.btn.-blue Delete
					button.btn Keep Member
			.change-email.member-popup#change-email
				h5.title-popup.block-title Change email
				p.text.member-text Enter and confirm your new email. Once updated, use your new email to sign in to your Identimaxx account.
				form.change-form
					label.inpt.change-inpt
						input(type='email' placeholder='New email address')
					label.inpt.change-inpt
						input(type='email' placeholder='Confirm email address')
					.change-buttons
						button.btn.-blue Save
						button.btn(data-click="front:closePopup") Cancel
			.change-password.member-popup#change-password
				h5.title-popup.block-title Change password
				form.change-form
					label.inpt.change-inpt
						input(type='password' placeholder='Enter new password' id='pwd')
						button.btn-eye(data-click='front:showPassword' data-for='#pwd')
							svg
								use(xlink:href='/img/sprite.svg#eye')
					label.inpt.change-inpt
						input(type='password' placeholder='Confirm new password' id='npwd')
						button.btn-eye.btn-eye(data-click='front:showPassword' data-for='#npwd')
							svg
								use(xlink:href='/img/sprite.svg#eye')
					.change-buttons
						button.btn.-blue Save
						button.btn(data-click="front:closePopup") Cancel
			.change-method.member-popup#change-method
				h5.title-popup.block-title Update payment method
				form.change-form
					.row.jusb.change-row
						.inpt
							span.inpt-placeholder First Name
							input(type='text')
						.inpt
							span.inpt-placeholder Last Name
							input(type='text')
					.change-row
						.inpt.-full
							span.inpt-placeholder Card Number
							input(type='text')
					.row.change-row
						.inpt
							span.inpt-placeholder MM/YY
							input(type='text')
						.inpt.change-inpt
							span.inpt-placeholder.change-inpt-placeholder
								em CCV
								i.change-inpt-popup
									svg
										use(xlink:href='/img/sprite.svg#info')
									strong
										| CVV/CSC is the 3-4 last numbers
										br
										| on the back of your cards
							input(type='text')
					.change-row
						.inpt.-full
							span.inpt-placeholder Billing street address
							input(type='text')
					.change-row
						.inpt.-full
							span.inpt-placeholder Billing street address (Line 2)
							input(type='text')
					.row.change-row
						.inpt
							span.inpt-placeholder State
							label.select.change-select(data-click='front:openSelect')
								span.select-head
									span.select-option Florida
									svg
										use(xlink:href='/img/sprite.svg#chevron_right')
								span.select-body
									span.select-body-item.-active
										strong Florida
									span.select-body-item
										strong Florida
									span.select-body-item
										strong Florida
						.inpt
							span.inpt-placeholder Zip Code
							input(type='text')
					p.text.change-text
						| By choosing to update payment, we will ONLY authorize your card to validate,
						| you will not be charged. Your bank may inform you of this authorization.
						| You agree that your card will automatically be charged according to the
						| terms of your subscription. By clicking "Update",
						| you agree to the #[a.link Terms of Service] and acknowledge the #[a.link Privacy Policy].
					.change-buttons.change-buttons-update
						button.btn.-blue Save
						button.btn Cancel
	script(src='/front.js' type='module')