extends template/main
append vars
	-
		page_title = 'Home'
block content
	main
		section.identity
			.section.home-section
				.breads
					a(href='#').breads-item.-home Home
					span.breads-delim >
					a(href='#').breads-item Identity Protection
				.identity-content.row
					.identity-left
						.white-block_head
							h5.white-block_title
								span Identity Protection
							.white-block-status.-active.row
								svg
									use(xlink:href='/img/sprite.svg#check_circle')
								span Active
						label.select.identity-select
							span.select-head
								span.select-option Filters
								svg
									use(xlink:href='/img/sprite.svg#chevron_right')
							span.select-body
						ul.identity-list
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#mark_as_unread')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| Your password appeared in a data leak
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#money_off')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| Your password appeared in multiple data breach
										br
										| records for jmurack@gmail.com
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#credit_score')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| Your email address for “Infostealer Naz.API Logs”
										br
										| appeared in a data leak
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#captive_portal')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| We completed your 1st remove request to AllWebLeads
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#badge')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| We completed your 1st remove request to Equifax
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#group')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| We completed your 1st remove request to OldPhonebook
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#call')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| We completed your 1st remove request to Lexis Nexis - Know X
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#badge')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| We completed your 1st remove request to Lexis Nexis - Know X
							li.white-block-list-item
								.white-block-list-item_image
									svg
										use(xlink:href='/img/sprite.svg#location_on')
								.white-block-list-item_content
									span Jan 17 at 5:22 AM
									strong
										| We completed your 1st remove request to Lexis Nexis - Know X
						button.btn.-full.-blue.identity-more
							| Load More
					.identity-right






