extends template/main
append vars
	-
		page_title = 'Login'
		adheader=true
block content
	main
		section.login
			.section
				.login-form-cont
					form.login-form
						h1.title Sign In
						h2.subtitle Create an account to continue
						label.inpt.-full
							input(type='email' placeholder='Email')
						label.inpt.-full
							input#pwdz(type='password' placeholder='Password')
							button.btn-eye(data-click="front:showPassword" type='button' data-for="#pwdz")
								svg
									use(xlink:href='/img/sprite.svg#eye')
						.tar
							a.link(href='/forgot.html') Forgot Password?
						button.btn.-blue.-full
							span Sign In
						.login-form-actions
							span Not a member yet?
							a(href='/signup.html').link Sign Up
	include footer-profile