extends template/main
append vars
	-
		page_title = 'My Vault'
block content
	main
		section.vault.lost
			.section.home-section
				.breads
					a(href='#').breads-item.-home Home
					span.breads-delim >
					a(href='#').breads-item Lost Wallet Service
				.vault-row.row
					.vault-left.lost-left
						h5.white-block_title.vault-title.lost-title
							span Lost Wallet Service
						p.text
							| If your wallet or purse is lost or stolen, instead of spending time searching for information to cancel your cards, the Identimaxx Lost Wallet Service will quickly guide you through the process.
						button.btn.-blue
							svg
								use(xlink:href='/img/sprite.svg#call')
							span CALL US 1800 XXX XX XX
					.vault-right.lost-right
						img(src='/img/lost.svg')
				h5.lost-subtitle Follow these steps
				ul.lost-steps-list
					li.lost-item
						.lost-item_img
							img(src='/img/lost1.gif')
						.lost-item-content
							h5.lost-item_title
								strong 1.
								span Secure your cards
							p.lost-item_text
								| Safeguard your cards in the vault to help you recalling in the event that you misplace your wallet.
					li.lost-item
						.lost-item_img
							img(src='/img/lost2.gif')
						.lost-item-content
							h5.lost-item_title
								strong 2.
								span Contact Us
							p.lost-item_text
								| Should you misplace your wallet or purse, contact us for immediate assistance at
								br
								a(href='#').link.-blue  855-200-6788.
					li.lost-item
						.lost-item_img
							img(src='/img/lost3.gif')
						.lost-item-content
							h5.lost-item_title
								strong 3.
								span Follow the process
							p.lost-item_text
								| Our Lost Wallet Service experts will guide you through recovering and securing all your vital information.
					li.lost-item
						.lost-item_img
							img(src='/img/lost4.gif')
						.lost-item-content
							h5.lost-item_title
								strong 4.
								span File a police report
							p.lost-item_text
								| A police report may be helpful in disputing fraudulent charges if necessary.
		script(src='/front.js' type='module')
	include footer-profile
