extends template/main
append vars
	-
		page_title = 'Profile'
block content
	.row.profile-row
		include template/aside-profile
		main.details
			section.profile-content
				h1.title.mem-title Membership
				.profile-table-details
					h2.block-title Plan
					.table-cont.profile-table.profile-table-membership.details-table
						table.table
							tbody
								tr
									td
										| Type
									td
										| Family Plan
									td.table-links
								tr
									td
										| Billing Period
									td
										| Monthly
									td.table-links
								tr
									td
										| Renews on
									td
										| Mar 20, 2024
									td.table-links
								tr
									td
										| Payment Method
									td
										| ****0138
									td.table-links
										a(href='#' data-click="front:showForm" data-popup='#change-method' data-islarge ).link Change
					a(href='#').link.-small Cancel membership
	include footer-profile