extends template/main
append vars
	-
		page_title = 'Profile'
block content
	.row.profile-row
		include template/aside-profile
		main.notifications
			section.profile-content
				h1.title.notifications-title Notifications
				.profile-table-details
					h2.block-title Preferences
					p.text.profile-notify-text Select how you would like to receive important alerts related to your account.
					.profile-notify
						.profile-notify-row
							.profile-notify-title
								svg
									use(xlink:href='/img/sprite.svg#nmail')
								strong Email
							.select.profile-notify-select(data-click='front:openSelect')
								span.select-head
									span.select-option john@aol.com
									svg
										use(xlink:href='/img/sprite.svg#chevron_right')
								span.select-body
									span.select-body-item.-active
										strong john@aol.com
									button.select-body-item.-action(type='button')
										| Change email
							.profile-notify-checkboxes
								label.checkbox.profile-notify-checkbox.-mt24
									input(type='checkbox')
									span News & Information
								label.checkbox.profile-notify-checkbox
									input(type='checkbox')
									span Critical Alerts
								label.checkbox.profile-notify-checkbox
									input(type='checkbox')
									span Payment Information
					.profile-notify
						.profile-notify-title.-second
							svg
								use(xlink:href='/img/sprite.svg#nchat')
							em
								strong Text Messages
								span Receive SMS alerts by verifying your number
						.select.profile-notify-select(data-click='front:openSelect')
							span.select-head
								span.select-option (123) 456 7891
								svg
									use(xlink:href='/img/sprite.svg#chevron_right')
							span.select-body
								span.select-body-item.-active
									strong (123) 456 7891
								span.select-body-item
									strong (123) 456 7891
								button.select-body-item.-action(type='button')
									| Change phone number
	include footer-profile