extends template/main
append vars
	-
		page_title = 'Profile'
block content
	.row
		include template/aside-profile
		main
			section.profile-content
				h1.title Add Member
				.block
					p.text
						| Protect the people you care about most. Parents, siblings, or chosen family.
						| You can add up to 10 adults and unlimited kids. Add a new member below.
					.profile-block-row
						label.inpt
							input(type='text' placeholder='First Name')
						label.inpt
							input(type='text' placeholder='Last Name')
					label.inpt
						input(type='email' placeholder='Email')
				.block
					h2.subtitle Current Members
					.table-cont
						table.table
							thead
								tr
									th First Name
									th Last Name
									th Email
									th Delete
							tbody
								tr
									td John
									td Doe
									td john@aol.com
									td
										.btn-table
											svg
												use(xlink-href='/img/sprite.svg#delete')
								tr
									td John
									td Doe
									td john@aol.com
									td
										.btn-table
											svg
												use(xlink-href='/img/sprite.svg#delete')
								tr
									td John
									td Doe
									td john@aol.com
									td
										.btn-table
											svg
												use(xlink-href='/img/sprite.svg#delete')
								tr
									td John
									td Doe
									td john@aol.com
									td
										.btn-table
											svg
												use(xlink-href='/img/sprite.svg#delete')
