extends template/main
append vars
	-
		page_title = 'Profile'
block content
	.row.profile-row
		include template/aside-profile
		main
			section.profile-content
				h1.title Add Member
				.block.profile-block
					p.text Protect the people you care about most. Parents, siblings, or chosen family. You can add up to 10 adults and unlimited kids. Add a new member below.
					.profile-block-row
						label.inpt
							input(type='text' placeholder='First Name')
						label.inpt
							input(type='text' placeholder='Last Name')
					label.inpt
						input(type='email' placeholder='Email')
					.-mt24
						button.btn.-blue.-full
							span Submit
				.block.-small.-pb0
					h2.block-title Current Members
					.table-cont.profile-table
						table.table
							thead
								tr
									th First Name
									th Last Name
									th Email
									th.table-actions
										| Delete
							tbody
								tr
									td John
										span.profile-table-surname &nbsp;Doe
									td Doe
									td john@aol.com
									td.table-actions
										button.btn-table(data-click="front:showForm" data-popup="#member-popup")
											svg
												use(xlink:href='/img/sprite.svg#cancel')
								tr
									td John
										span.profile-table-surname &nbsp;Doe
									td Doe
									td john@aol.com
									td.table-actions
										button.btn-table(data-click="front:showForm" data-popup="#member-popup")
											svg
												use(xlink:href='/img/sprite.svg#cancel')
								tr
									td John
										span.profile-table-surname &nbsp;Doe
									td Doe
									td john@aol.com
									td.table-actions
										button.btn-table(data-click="front:showForm" data-popup="#member-popup")
											svg
												use(xlink:href='/img/sprite.svg#cancel')
	include footer-profile