extends template/main
append vars
	-
		page_title = 'Login'
		adheader = true
block content
	main
		section.login
			.section
				.login-form-cont
					form.login-form
						h1.title Setup New Password
						h2.subtitle.-resetlink
							span Have you already reset the password?&nbsp;
							a.link(href='/login.html') Sign In
						label.inpt.-full
							input(type='password' placeholder='Password' id="pwd")
							button.btn-eye(data-click="front:showPassword" type='button' data-for="#pwd")
								svg
									use(xlink:href='/img/sprite.svg#eye')
						label.inpt.-full
							input(type='password' placeholder='Reset Password' id="#rpwd")
							button.btn-eye(data-click="front:showPassword" type='button' data-for="#rpwd")
								svg
									use(xlink:href='/img/sprite.svg#eye')
						.tal.-resetal.
							By clicking Submit, you agree to
							#[a.link Terms of Service], including  our
							#[a.link Privacy Policy]
						button.btn.-blue.-full
							span Submit
	include footer-profile