extends template/main
append vars
	-
		page_title = 'Login'
		adheader=true
block content
	main
		section.login
			.section
				.login-form-cont
					form.login-form
						h1.title Sign Up
						h2.subtitle Create an account to continue
						label.inpt.-full
							input(type='email' placeholder='Email')
						label.inpt.-full
							input#pwd(type='password' placeholder='Password')
							button.btn-eye(data-click="front:showPassword" type='button' data-for="#pwd")
								svg
									use(xlink:href='/img/sprite.svg#eye')
						.tal.
							By clicking Submit, you agree to
							#[a.link Terms of Service], including  our
							#[a.link Privacy Policy]
						button.btn.-blue.-full
							span Submit
						.login-form-actions
							span Already a member?
							a(href='/login').link Sign In
	include footer-profile