extends template/main
append vars
	-
		page_title = 'My Vault'
block content
	main
		section.vault
			.section.home-section
				.breads
					a(href='#').breads-item.-home Home
					span.breads-delim >
					a(href='#').breads-item My Vault
				h5.white-block_title.vault-title
					span My Vault
				.vault-row.row
					.vault-left
						nav.vault-tabs
							button.vault-tab
								| Personal
							button.vault-tab
								| Financial
							button.vault-tab.-active
								| Auto
							button.vault-tab
								| Other
						.vault-left-content
							.vault-accordeon
								.vault-accordeon-item
									.vault-accordeon-item_head.row
										.vault-accordeon-item_img
											svg
												use(xlink:href='/img/sprite.svg#directions_car')
										.vault-accordeon-item_title 2023 Hyundai Elantra
										button.vault-accordeon-item_arr
											svg
												use(xlink:href='/img/sprite.svg#chevron_right')
									.vault-accordeon-item_body
								.vault-accordeon-item
									.vault-accordeon-item_head.row
										.vault-accordeon-item_img
											svg
												use(xlink:href='/img/sprite.svg#directions_car')
										.vault-accordeon-item_title 2023 Genesis G70
										button.vault-accordeon-item_arr
											svg
												use(xlink:href='/img/sprite.svg#chevron_right')
									.vault-accordeon-item_body
								.vault-accordeon-item.-show
									.vault-accordeon-item_head.row
										.vault-accordeon-item_img
											svg
												use(xlink:href='/img/sprite.svg#directions_car')
										.vault-accordeon-item_title Vehicle 3
										button.vault-accordeon-item_arr
											svg
												use(xlink:href='/img/sprite.svg#chevron_right')
									.vault-accordeon-item_body
										button.link.-plus
											svg
												use(xlink:href='/img/sprite.svg#add')
											span Add vehicle information
								button.btn.-plus.link(data-click="front:showHalf" data-popup='#license')
									svg
										use(xlink:href='/img/sprite.svg#add')
									span Add new vehicle
					.vault-right
						h3.subtitle What is the Identimaxx vault?
						.vault-img
							img(src='/img/vault.svg')
						h4.subtitle.-little
							| Your own digital lockbox
						p.text.vault-text Safeguard important information and files in your vault, an essential tool for protecting your identity. Documents stored here will be encrypted, but not all of them are not monitored on the dark web.
						.vault-ensure
							.vault-ensure_img
								img(src='/img/ensure.svg')
							.vault-ensure_content
								strong.vault-ensure_title Ensure your safety with Identimaxx’s vault service.
								span.vault-ensure_text The vault serves as your digital lockbox, safeguarding your data and sensitive files with our top-tier encryption.

		script(src='/front.js' type='module')
	.popup-half.-whiteshadow#license
		.popup-half-left
		.popup-half-right
				button.popup-close(data-click="front:closeHalf" data-popup='#license')
					svg
						use(xlink:href='/img/sprite.svg#close')
				.change-method.member-popup.driver
					h5.title-popup.block-title Driver's License
					form.change-form
						.change-row
							.inpt.-full
								span.inpt-placeholder Item Name
								input(type='text' value="Driver's license")
						.change-row
							.inpt.-full
								span.inpt-placeholder Name on document
								input(type='text')
						.change-row
							.inpt.-full.-error
								span.inpt-placeholder Driver license number
								input(type='text')
								strong.error-text Driver license number required
						.change-row
							.inpt.-full
								span.inpt-placeholder Expiration
								input(type='text' value='MM/DD/YYYY')
						.change-row.row
							.inpt.-full
								span.inpt-placeholder State
								label.select.change-select
									span.select-head
										span.select-option &nbsp;
										svg
											use(xlink:href='/img/sprite.svg#chevron_right')
						.change-buttons
							button.btn.-blue Save
							button.btn Cancel
	include footer-profile

