body
	font: 400 16px Barlow
.set
	display: flex
	flex-direction column
	min-height 100vh
.section
	padding 16px 24px 0
	+desktop()
		padding 16px 40px
		width 100%
.row
	df({
		df:'.row'
	})
	flex-wrap wrap
	+desktop()
		flex-wrap nowrap
.head
	z-index 1000
	.btn
		+desktop()
			padding 8px 16px 9px
	&-row
		padding 4px 0
		align-items: center
		+desktop()
			padding 0
	&-logo
		max-width 142px
		& svg
			height 32px
	&-burger
		w 28px
		&_item,&:after,&:before
			content ''
			wh 28px 2px
			background RGB($pdark_blue)
			display block
		&_item
			margin 6px 0
		+desktop()
			display none
	&-menu
		&-cont
			display none
			+desktop()
				display block
				margin 0 auto
		&_item
			height 40px
			padding 8px 0
			transition .35s ease
			+desktop()
				padding 11px 16px
			a
				color RGB($pdark_blue)
			&.-dropdown
				cursor: pointer
				display flex
				align-items center
				column-gap: 14.35px
			&:hover
				padding 8px 16px
				border-radius 8px
				background-color: RGB($plight_blue,.2)
				+desktop()
					padding: 11px 16px
			&.menu-active
				svg
					transform rotate(180deg)
			span svg
				wh 12px 7px
				transition .35s ease
			position: relative
			&:after
				+desktop()
					wh 100% 40px
					content: ''
					position: absolute
					top: 0

			&:hover
				&>.head-menu_sublist
					opacity: 1
					visibility visible
		+desktop()
			display flex
			column-gap 40px
			font 500 16px/19.2px Barlow

		&_sublist
			w 256px
			position: absolute
			z-index 100
			padding 6px 4px
			padding-bottom: 0
			top: 40px
			left: 0
			background: #fff
			box-shadow 0 4px 24px RGBA($plight_blue,.2)
			border 2px solid RGBA($plight_blue,.2)
			border-radius 8px
			opacity: 0
			visibility hidden
			.head-mobile-subitem
				&:hover,&.active
					cursor: pointer
					background-color: RGB($plight_blue,.2)
					.head-mobile-subitem_icon use
						fill RGB($pdark_blue)
					span
						color:  RGB($pdark_blue)
			.head-mobile-subitem_icon
				flex 0 0 24px

	&-login
		display none
		+desktop()
			display flex
			column-gap 16px
	&-actions
		margin-left auto
		.-bottom
			position relative
			margin-top 16px
			text-align center
			justify-content center
			svg
				wh 24px
				use
					fill RGB($pdark_gray)
			&:hover
				svg	use
					fill RGB($pdark_blue)
			&:before
				content: ''
				position: absolute
				top: -8px
				left: -8px
				wh calc(100% + (8px * 2)) 2px
				background-color RGBA($plight_blue,.2)
		&-link
			cursor: pointer
			display: flex
			align-items: center
			font-weight: 500
			color RGB($pdark_blue)
			+desktop()
				margin-right: 16px
			&:first-child
				display: none
				+desktop()
					display: block
		&-menu
			position: absolute
			width 100%
			right 24px
			display flex
			top 72px
			justify-content: flex-end;
			column-gap 30px
			+desktop()
				w initial
				position static
				align-items center
				column-gap initial
		.head-menu_sublist
			w 212px
			left initial
			right: 0

		+desktop()
			margin-left 0
		&-user
			wh 25px
			padding: 0!important
			display: none !important
			+desktop()
				wh 40px
				display: flex !important
				align-items: center
				justify-content: center
				img
					wh 24px
			.head-menu_sublist
				w 256px
	&-mobile
		&-menu
			&-cont
				--header_height: 72px
				wh 100% 100vh //calc( 100vh - var(--header_height) - 20px)
				df({
					df: '.head-mobile-menu-cont'
				})
				flex-direction column
				overflow-y auto
				top 0 //calc( var(--header_height) + 20px)
				position absolute
				padding 96px 24px 0
				left: -100%
				background-color RGB($pwhite)
				z-index 999
				&.-show
					left: 0
				+desktop()
					display: none
				.head-row
					w calc(100% - 48px)
					padding-top 20px
					padding-bottom 20px
					background-color RGB($pwhite)
					position fixed
					top 0
					z-index 1
			display: flex
			flex-direction column
			&.-show
				visibility visible
			&_item
				padding 8px
				margin-bottom 24px
				font 500 16px/19.2px Barlow
				&:hover
					padding 8px
		&-sublist
			display none
			margin-top -16px
			margin-bottom 24px
		&-subitem
			df({
				df: '.head-mobile-subitem'
				ali: center
			})
			border-radius 8px
			padding 8px 16px
			column-gap: 8px
			margin-bottom: 8px
			&:hover,&.active
				background-color: RGB($plight_blue,.2)
			&:active
				border-radius 8px
				background-color RGBA($plight_blue,.2)
				.head-mobile-subitem_value
					color RGB($pdark_blue)
			&_icon
				wh 24px
				use
					fill RGB($pdark_gray)
			&_value
				font 500 16px/19.2px Barlow
				color RGB($pdark_gray)


		&-info
			margin-top auto
			margin-bottom 65px
			&_item
				display: flex !important
				margin-bottom: 16px
			.home-row_info
				margin-bottom: 8px
			&-button
				margin-top: 16px
			&-button .btn
				w 100%
				justify-content center
.head,.foot
	position relative
.-bg
	background-image url('../img/login-mobile.jpg')
	background-size cover
	background-position center top
	background-repeat no-repeat
	+tablet()
		background-image url('../img/login.jpg')
.login
	text-align: center
	&-wh
		wh(100vw,90vh)
		display flex
		justify-content center
		+tablet()
			align-items center
		+desktop()
			wh(100vw,100vh)
	&-logo
		wh 215px 48px
		margin-top 64px
		+desktop()
			wh 287px 64px
			margin-top: 0
	&-form
		border-radius 8px
		background RGB($pwhite)
		border 1.5px solid RGBA($plight_blue, .2)
		box-shadow 0 4px 16px RGBA($plight_blue, .16)
		max-width 590px
		margin 80px auto 0
		padding 40px 23px
		&.-with-bg
			w 100%
			+desktop()
				w 590px
				margin 0 0 0 491px
		+desktop()
			margin calc((100vh - 607px) / 2) auto 0
			padding 80px 80px 123px
		.title
			margin-bottom 8px
			font 500 24px/30px Barlow
			+desktop()
				font 500 32px/38.4px Barlow
		.inpt
			margin-bottom 16px
			position relative
			&:last-of-type
				margin-bottom: 0
		.link
			color RGB($ublue)
			+desktop()
				display: inline
				text-align: right
		.subtitle
			margin-bottom 24px
			letter-spacing -.06px
			.link
				display: block
				text-align center
		.btn
			margin-top 24px
			&-eye
				position absolute
				top 16px
				right 16px
		.tar,.tal
			font 400 16px/19.2px Barlow
			color RGB($pdark_gray)
			+desktop()
				//text-align left
				margin-top 16px
		.tar
			margin-top 8px
			text-align: right
		.tal
			margin-top 16px
			text-align center
			+tablet()
				text-align left
		&-actions
			margin-top 16px
			font 400 16px/19.2px Barlow
			color RGB($pdark_gray)
			letter-spacing -.06px
			.link
				color RGB($ublue)
				letter-spacing initial
				&:not(:first-child)
					margin-left 8px
			+desktop()
				font 400 16px/19.2px Barlow
.copy
	text-align: center
	color RGB($pdark_gray)
	+desktop()
		position: fixed
		left: 0
		right: 0
		margin auto
		bottom: 41px
.menu-active
	border-radius 8px
	background-color RGBA($plight_blue,.2)
	.menu_icon
		use
			fill RGB($pdark_blue)
	.menu_value
		color RGB($pdark_blue)
	& + .head-mobile-sublist
		display: block
		opacity: 1
		visibility: visible
.block
	w 100%
	max-width 735px
	margin-top 20px
	margin-bottom 40px
	padding 40px 24px
	background RGB($pwhite)
	border 1.5px solid RGBA($plight_blue,.2)
	box-shadow 0 4px 16px RGBA($plight_blue,.16)
	border-radius 8px
	+desktop()
		w(735px)
		padding 40px
	&.profile-block
		padding 40px 24px
		margin-bottom 80px
		+desktop()
			margin-top 40px
			margin-bottom 40px
	&.-small
		+desktop()
			padding: 24px
	&-title
		font 500 24px/32px Barlow
	&.-pb0
		padding-bottom 12px
	&-btn
		w calc(50% - 4px)
		padding 9px 0 10px
		border-radius 8px
		display: flex
		align-items: center
		column-gap: 11px
		justify-content center
		border 1.5px solid RGBA($plight_blue,.2)
		margin-bottom: 8px
		font 500 16px/19.2px Barlow
		color RGBA($pdark_blue)
		svg
			wh 24px
			use
				fill: RGB($plight_blue)
	.table
		tr
			margin-top 16px
			background RGB($pwhite)
.profile
	&-row
		margin-top 72px
		+desktop()
			margin-top 69px
			padding 0 40px
	&-content
		max-width 1079px
		padding 16px 24px
		+desktop()
			max-width 1226px
			padding 0
	&-aside
		width: 100%
		overflow hidden
		overflow-x auto
		padding: 0 24px
		-ms-overflow-style none;
		scrollbar-width none;
		&::-webkit-scrollbar
			display none
		+desktop()
			padding 0
			margin-right 50px
			max-width 213px
		+desktop-large()
			margin-right 202px
		&-nav
			w fit-content
			overflow-x auto
			display: flex
			background-color RGB($pwhite)
			border 2px solid RGBA($plight_blue,.2)
			padding: 4px
			border-radius 8px
			+desktop()
				display: initial
				background-color: transparent
				border: none
				padding: 0
				w initial
		&-item
			display flex
			align-items center
			padding 11px 15px 10px
			column-gap 16px
			border-radius 8px
			color RGB($pdark_gray)
			font-weight 500
			white-space nowrap
			+desktop()
				margin-bottom 24px
				padding 11px 21px 10px
			svg
				wh(24px)
				use
					fill RGB($pdark_gray)
				display: none
				+desktop()
					display: block
					wh 24px
			&.active,&:hover
				background-color RGBA($plight_blue,.2)
				color RGB($pdark_blue)
				svg use
					fill RGB($pdark_blue)
	&-block
		&-row
			display flex
			flex-wrap wrap
			margin-top 24px
			margin-bottom 16px
			row-gap 16px
			+desktop()
				flex-wrap nowrap
				column-gap 16px
			.inpt
				w 100%
				+desktop()
					w(50%)
	&-table
		margin-top 6px
		+desktop()
			margin-top: 0
		.table
			w(100%)
			td,th
				padding 18px 0 16px
			tr
				border-bottom 1px solid RGB($plight_gray)
			thead
				text-align left
			tbody
				tr
					&:last-child
						+desktop()
							border: 0

		&-surname
			+desktop()
				display none
		td,th
			&:nth-child(2)
				display: none
				+desktop()
					display table-cell
		&.-vis
			td:nth-child(2)
				display: table-cell
		&-details
			margin-top 3px
			+desktop()
				margin-top 40px
			.block-title
				margin-bottom 8px
				font 500 32px/38.4px Barlow
				+desktop()
					margin-bottom 16px
					font-size 24px
					line-height 28.8px
			.table
				margin-bottom: 40px
				td,th
					font 400 16px Barlow
					padding 24px 0
					&:first-child
						w(153px)
						color RGB($pdark_gray)
		&-membership
			w(100%)
			margin-bottom 20px
			+desktop()
				w(398px)
			.table
				margin-bottom 0
			tbody
				tr:last-child
					border-bottom 1px solid RGB($plight_gray) !important
					border-bottom 0 !important
			th,td
				&:last-child
					text-align: right
	&-notify
		&-text
			margin-top 24px
			+desktop()
				width 400px
		&-row
			margin-top 40px
		&-select,&-checkbox
			margin-top 16px
		&-checkbox
			padding 0 4px
			margin-bottom 8px
		&-title
			display flex
			align-items center
			column-gap 16px
			strong
				font 500 16px/19.2px Barlow
			svg
				wh(32px)
				use
					fill RGB($pdark_blue)
			span
				font 400 13px Barlow
				display block
				color RGB($pdark_gray)
		&-checkboxes
			padding-bottom 24px
			margin-bottom 24px
			border-bottom 1.5px solid RGBA($plight_blue,.2)
	&-benefits
		display: flex
		flex-wrap wrap
		+desktop()
			flex-wrap nowrap
		&-text
			margin-top 24px
		&-links
			margin-top 40px
		&-links
			display: none
			flex-direction column
			row-gap 24px
			+desktop()
				display: flex
		&-aside
			+desktop()
				w(250px)
				flex-shrink 0
			+desktop-large()
				w(398px)
		&-link
			font 400 16px/19.2px Barlow
			display: block
			color RGB($pdark_blue)
			text-decoration: underline
			&:hover
				color RGB($plight_blue)
				text-decoration: none
			&:active
				color RGB($pdark_blue)
		&-content
			w 100%
			margin-top 71px
			scroll-behavior smooth
			+desktop()
				height calc(100vh - 386px)
				margin-top 24px
				overflow hidden
				overflow-y scroll
				padding-right 100px
				padding-left 82px
			+desktop-large()
				padding-right 214px
			.block-title,.title
				margin-bottom: 16px
			&-text
				line-height: 19.3px
			&-text,&-list
				margin-bottom 16px
				&+.block-title,&+.title
					margin-top 40px
			&-list
				strong
					font-weight 500
.popup
	wh(100vw,100vh)
	background-color RGB(0,0,0,.5)
	position fixed
	display flex
	align-items center
	justify-content center
	left 0
	top 0
	z-index 1000
	visibility hidden
	opacity 0
	&.-opened
		visibility visible
		opacity 1
	&-inner
		w calc( 100% - 48px)
		position: relative
		max-height 85vh
		overflow: auto
		+desktop()
			w 480px
		&.-large
			w calc( 100% - 48px)
			+desktop()
				w 735px
			.popup-body
				padding 0 24px
				+desktop()
					padding 0 40px
	&-close
		position absolute
		right 8px
		top 8px
		svg
			wh(24px)
			fill RGB($pdark_gray)
		&.-half
			svg
				wh 32px
	&-body
		padding 0 23px
		background-color RGB($pwhite)
		border 1.5px solid RGBA($plight_blue, .2)
		box-shadow 0px 4px 16px RGBA($plight_blue, .16)
		border-radius 8px
	&-half
		padding-top 120px
		display flex
		position fixed
		right 0
		top 0
		opacity 0
		visibility hidden
		background-color #fff
		z-index 999
		transition .35s ease
		+desktop()
			padding-top 0
			background none
		&.-opened
			opacity: 1
			visibility visible
			right: 0
			.popup-half-right
				transform translateX(0%) translateY(0px)
		&-left,&-right
			overflow-y: auto
			wh(100vw, calc(100vh - 120px))
			+desktop()
				wh(50vw,100vh)
				transform translateY(0px)
		&-left
			left: 0
			background-color RGBA(0,0,0,.25)
		&-right
			transition .35s ease
			transform translateX(-50%) translateY(0px)
			background-color #fff
			padding 40px 24px 80px
			+desktop()
				transform translateY(0px)
				padding 201px 0 0 56px
		&-form
			max-width 400px
			margin-top: 40px
			+desktop-large()
				max-width 530px
			.profile-block-row
				margin: 0
			.inpt
				margin-bottom: 16px
				input
					font 400 16px Barlow
					color RGB($pdark_gray)
			.btn
				margin-top: 24px
				+desktop()
					margin-top: 40px
		.popup-close
			transform translate(13px,-51px)
			position: relative
			display: block
			use
				fill RGB($pdark_gray)

.member
	&-popup
		padding 40px 0
		text-align: center
		.block-title
			color: RGB($pdark_blue)
		.btn
			w 100%
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0
			+desktop()
				w initial
				margin-bottom: 0
	&-text
		margin-top 24px
	&-buttons
		margin-top 24px
		display flex
		flex-direction column
		column-gap 8px
		+desktop()
			flex-direction row
			justify-content center
.delete
	&-member
		text-align center
		.member-text
			+desktop()
				width 320px
				margin 8px auto 0
.change
	&-inpt
		position: relative
		&-placeholder
			display flex
			align-items center
			justify-content space-between
		&-popup
			position: relative
			wh 18px
			svg
				wh(18px)
				use
					wh(18px)
					fill RGB($pdark_blue)
			&:hover
				strong
					opacity 1
					visibility visible
			strong
				width 217px
				font 400 13px/15.6px Barlow
				padding 8px 16px
				border-radius 8px
				position absolute
				top -55px
				right -18px
				background-color RGB($pdark_blue)
				color RGB($pwhite)
				opacity: 0
				visibility: hidden
				&:after
					wh(8px)
					transform rotate(45deg)
					position: absolute
					bottom -4px
					right 24px
					content ''
					display block
					background RGB($pdark_blue)
	&-form
		display flex
		flex-direction: column
		row-gap 16px
		margin-top: 24px
		.btn
			w(120px)
	&-row
		column-gap 16px
		row-gap 16px
		color RGB($pdark_gray)
		.inpt
			w(100%)
			+desktop()
				w(50%)
			&.-full
				w(100%)
	&-buttons
		margin-top 8px
		display: flex
		align-items: center
		column-gap: 10px
		flex-wrap wrap
		+desktop()
			margin-top: 24px
			flex-wrap nowrap
		&-update
			+desktop()
				margin-top 40px
		.btn
			w 100%
			margin-bottom 8px
			+desktop()
				w 120px
				margin-bottom: 0
			&:last-child
				margin-bottom 0
			&.-full
				+desktop()
					w 100%
	&-text
		font 400 16px/19.2px Barlow
	&-select
		.select-head
			background-color RGBA(var(--plight_blue), 0.08)
			border: 0
.table
	&-actions
		text-align center
	&-links
		.link
			font-weight: 500

.home
	&-section
		+desktop()
			w calc( 100% - 480px)
			margin 0 240px
			padding: 53px 0 0
	&-row
		w 100%
		align-items: center
		border-bottom 1.5px solid RGBA($plight_blue,.2)
		padding-bottom: 18px
		display: none
		+desktop()
			display: flex
		&-titles
			-webkit-column-gap: 32px
			-moz-column-gap: 32px
			column-gap: 32px
			margin-left: auto
		&_info
			&>span,&>strong
				font 400 16px/19.2px Barlow
			&>span
				color RGB($pdark_gray)
	&-white
		&-items
			+desktop()
				w 1024px
				flex-shrink 0
				display flex
				align-items flex-start
				flex-wrap wrap
				gap 16px
				.white-block
					margin 0
	&-mobile
		&-hidden
			display none
			+desktop()
				display block
	&-right
		+desktop()
			max-width calc(360px + 56px)
.white
	&-items
		margin-top 50px
		row-gap 70px
		+desktop()
			margin-top: 32px
	&-block
		position: relative
		border-radius 8px
		padding 24px
		margin-bottom: 16px
		border 1.5px solid RGBA($plight_blue,.2)
		background-color RGB($pwhite)
		box-shadow 0 4px 16px RGBA($plight_blue,.16)
		+desktop()
			margin-right: 16px
			min-width 504px
			max-width 504px
		&:last-child
			margin-bottom 0
		&-inner
			padding 24px
		&.-upgrade
			padding 0
			&:hover
				.white-upgrade
					opacity: 1
		.btn
			w 100%
			margin-top 16px
			+desktop()
				width 133px
				padding 8.5px 6px
			&.-bi
				+desktop()
					w 219px
		&.-large
			padding-bottom: 24px
		&_head
			display: flex
			flex-direction column
			+desktop()
				flex-direction row
				align-items: center
				justify-content: space-between
		&-status
			font 700 13px/15.6px Barlow
			color RGB($ugreen)
			text-transform: uppercase
			&.-inactive
				color RGB($plight_ocher)
			svg
				wh 16px
				margin-right: 6px
		&_title
			display flex
			align-items center
			column-gap 8px
			font 500 24px/32px Barlow
			color RGB($pdark_blue)
			order 2
			margin-top 8px
			+desktop()
				order 0
				margin-top 0
			svg
				wh 24px
		&-list
			margin-top 16px
			&-item
				display: flex
				padding: 16px
				border-radius 8px
				transition .35s ease
				&:last-child
					padding 16px 0 0
				&.nopad
					padding 0
					flex-wrap wrap
					+desktop()
						flex-wrap nowrap
					.white-block-list-item_title
						+desktop()
							padding-top: 0
					.white-block-list-item_right
						w 100%
						+desktop()
							w initial
					.white-block-rating_img
						margin 0 auto

				+desktop()
					flex-wrap nowrap
					align-items: center
					&:hover
						background-color RGBA($plight_blue,.08)
				&.-empty
					padding: 16px
					background-color RGBA($plight_blue,.08)
					border-radius 8px
					.white-block-list-item_circle
						wh(40px)
						border-radius 100%
						background-color RGBA($plight_blue,.20)
				&_header,&_line
					background-color RGBA($plight_blue,.20)
					border-radius 100px
				&_content
					w 100%
				&_header
					wh 96px 16px
				&_line
					wh 100% 6px
					margin-top: 8px
					&.-short
						w 50%
				&_right
					padding 24px 20px
					+desktop()
						padding-right 40px
						padding-left 40px
				&_title
					font 500 16px/19.2px Barlow
					padding-top: 16px
					+desktop()
						padding-top: 53px
					&.-with-icon
						display flex
						align-items center
						column-gap 8px
					svg
						wh 20px
				&_text
					font-weight: 400
					color RGB($pdark_gray)
					margin 8px 0 44px
				span,strong
					display: block
				span
					font 400 13px/15.6px Barlow
					color RGB($pdark_gray)
					margin-bottom: 4px
				strong
					font 500 16px/19.2px Barlow
					color RGB($pdark_blue)
			&-item_image
				flex-shrink 0
				display flex
				justify-content center
				margin-right 8px
				+desktop()
					margin-right 16px
					flex 0 0 40px
				svg
					wh 32px
					+desktop()
						wh 40px
					use
						fill: RGB($plight_blue)
		&-alerts
			max-width 320px
			margin-top 16px
			font 400 16px/19.2px Barlow
			color RGB($pdark_gray)
			strong
				color RGB($pdark_blue)
		&-rating_img
			position: relative
			display: flex
			align-items: center
			justify-content: center
			flex-wrap wrap
			text-align: center
			&,img
				wh 223px 160px
			img
				position: absolute
				left: 0
				top: 0
			&_scoreStart,&_scoreEnd
				position: absolute
				bottom: -21px
			&_scoreStart
				left: 0
			&_scoreEnd
				right: 0
			&_score,&_scoreTitle,&_scoreRating
				w 100%
			&_score
				text-align: center
				padding-top: 50px
				color: RGB($pdark_blue)
				letter-spacing -0.97px
				font 500 60px/68px Heebo
			&_scoreTitle
				font 400 16px/24px Heebo
			&_scoreRating
				margin-top: 7px
				font 500 20px/32px Heebo
				text-transform: uppercase
				color: #F1C531
			&_scoreCircle
				position: absolute
				top: 30px
				right: 20px
				z-index 100
				wh 21px
				display: flex
				align-items: center
				justify-content center
				background-color #fff
				box-shadow 0 1px 4px RGBA(0,0,0,.20)
				&,span
					border-radius 100%
				span
					wh 13px
					display: block
					background-color #F1C531


	&-upgrade
		padding 32px 24px
		background-color RGBA($plight_blue,0.08)
		text-align center
		display flex
		align-items center
		justify-content center
		flex-direction column
		row-gap 24px
		+desktop()
			wh 100%
			padding 30px 0
			border-radius 8px
			color #fff
			flex-wrap wrap
			position absolute
			top 0
			left 0
			background-color RGBA($pdark_blue,.6)
			backdrop-filter blur(8px)
			opacity 0
			transition .35s ease
		&-title
			font 600 24px/32px Barlow
			+desktop()
				font 600 24px/32px Barlow
		&-text
			+desktop()
				max-width 312px
				w 100%
		&-btn
			font 500 16px/19.2px Barlow
			color RGBA($pdark_blue,.8)
			border-radius 8px
			padding 8px 16px
			border 2px solid RGBA($pdark_blue,.8)
			+desktop()
				border-color #fff
				color #fff
.gray
	&-block
		+desktop()
			padding-left: 56px
		&-title
			font 500 24px/32px Barlow
			padding-bottom: 24px
			border-bottom 1.5px solid RGBA($plight_blue,.2)
		.btn
			w 100%
			text-align: center
			display: block
			+desktop()
				w initial
				display: inline-block
				text-align: left
	&-actions
		display: flex
		align-items: center
		padding: 24px 0
		span
			font 400 16px/19.2px Barlow
			color RGBA($pdark_blue,.8)
		strong
			font-weight: 600
			margin-left: auto
		em
			font 700 16px/19.2px Barlow
			color #F3B82C
			text-transform: uppercase
		i
			display: block
			wh 2px
			border-radius 2px
			margin: 0 8px
			background-color RGB($pdark_blue)
	&-text
		font 400 16px/19.2px Barlow
		color RGB($pdark_gray)
		margin-bottom: 24px
	&-bottom
		&-row
			column-gap 16px
			margin 80px 0
			border-top 1.5px solid RGBA($plight_blue,.2)
			+desktop()
				margin 40px 0 0
				padding-top 40px
				max-width 1024px
				column-gap 72px
		&-block
			padding-left 0
			margin-top 80px
			.btn
				+desktop()
					w 120px
					text-align: center
			+desktop()
				w 100%
				max-width 448px
				margin-top 0
				padding-left 0
			.gray-block-title
				border-bottom 0
				padding-bottom 0
			.gray-text
				margin-top 16px

.wh
	&-block
		margin-top 32px
		border-radius 8px
		padding: 24px 24px 0
		background-color #fff
		border 1.5px solid RGBA($plight_blue,.2)
		box-shadow 0 4px 16px RGBA($plight_blue,.16)
		display none
		+desktop()
			display block
		&-buttons
			display: flex
			justify-content space-between
			flex-wrap wrap
			column-gap: 8px
			margin-top: 16px
			margin-bottom: 16px
	&-all
		display: flex
		align-items: center
		justify-content: center
		column-gap 8px
		text-align: center
		padding: 18px 0
		color RGB($pdark_gray)
		font 500 16px/19.2px Barlow
		position: relative
		svg
			wh 24px
		&:before
			display: block
			content: ''
			wh calc(100% + 48px) 2px
			background RGBA($plight_blue,.2)
			position: absolute
			left -24px
			top 0

.breads
	margin-top: 52px
	+desktop()
		margin-top: 0
	&,&-item
		color RGB($pdark_gray)
		font 400 13px/15.6px Barlow
	&-item
		&.-home
			text-decoration: underline
	&-delim
		margin 0 8px
.list
	margin: 20px 0
	padding: 20px 0
	border-top 1px solid RGBA($plight_blue,.2)
	border-bottom 1px solid RGBA($plight_blue,.2)
	&:last-child
		border-bottom: 0
	li
		margin-bottom 8px
	strong
		display inline-block
		w 163px
		font-weight 500
	span
		color RGB($pdark_gray)
.identity
	&-select,&-list
		min-width 312px
		+desktop()
			min-width initial
			width 583px
	&-list
		box-shadow 0 2px 8px RGBA($plight_blue,.24)
		margin-top 16px
		border-radius 8px
		background-color RGB($pwhite)
		border 2px solid RGBA(var(--plight_blue), 0.2)
		+desktop()
			padding 6px
		.white-block-list-item_content
			max-width 368px
	&-select
		margin-top 0
		position: relative
		.select-head
			background-color: #fff
			box-shadow 0 2px 8px RGBA($plight_blue,.24)
		.select-body
			w 100%
			display block
			position: absolute
			top: 48px
			margin-top 8px
			border-radius 8px
			padding 19px 27px
			opacity: 0
			visibility hidden
			&.-active
				opacity: 1
				visibility visible
				box-shadow 0 4px 24px RGBA($plight_blue,.24)
				background-color: #fff
			&_item
				font-weight 500
				color RGB($pdark_gray)
				padding: 16px 0
				display: flex
				align-items: center
				column-gap: 11px
				+desktop()
					padding: 8px 0
				.checkbox span
					&:before
						display: block
						content: ''
						border-radius 3px
						wh 17px
						border: 2px solid RGB($pdark_blue)
				input
					display: none

	&-more
		margin-top 16px
	&-title
		margin-top 8px
		order 2
		+desktop()
			order initial
			margin-top 0
	&-left
		margin-top 40px
		padding-bottom 80px
		+desktop()
			padding-bottom 0
		&:first-child
			margin-top 24px
			+desktop()
				margin-top 40px
		.white-block_head
			+desktop()
				margin-top 40px
	&-right
		w 100%
		order -1
		display: flex
		flex-direction column
		+desktop()
			w initial
			display: block
			order 1
			padding: 20px 0 0 56px
		.link
			w 100%
			padding 8px 16px 9px
			justify-content: center
			order -1
			margin-top: 24px
			+desktop()
				w initial
				order 0
				margin-top: 0

	&-popup
		&-list
			padding 40px 0
			margin 40px 0
#address-form
	.subtitle
		color RGB($pdark_blue)
		font-weight: 500
		margin-bottom: 8px
	.text,.btn
		margin-top 16px
	.identity-popup-btn
		margin-top 40px
.vault
	.white-block_title
		+desktop()
			margin-top: 40px
	&-title
		w 100%
		margin 24px 0
		font 500 32px/38px Barlow
		+desktop()
			margin 40px 0 30px
	&-accordeon
		+desktop()
			min-width 583px
		margin-top 24px
		&-item
			w 100%
			position relative
			padding 16px
			background #FFF
			border 2px solid RGBA($plight_blue, 0.2)
			box-shadow 0 4px 16px RGBA($plight_blue, 0.16)
			border-radius 8px
			margin-bottom 16px
			font 500 16px/19px Barlow
			&:last-child
				margin-bottom 0
			.link.-plus
				padding-left 0
			&.-show
				.vault-accordeon-item
					&_arr
						transform rotate(-90deg)
					&_body
						padding-top: 16px
			&_arr
				position: absolute
				right: 23px
				transform rotate(90deg)
				svg
					wh 24px
			&_head
				align-items: center
				column-gap: 8px
			&_img
				svg
					wh 24px
					use
						fill RGB($plight_blue)
			&_input
				position: relative
				display: flex
				align-items: center
				input
					wh 100% 48px
					display: block
					border-radius 8px
					padding-left: 16px
					border: 0
					background-color RGBA($plight_blue,.08)
					color: RGBA($pdark_gray,1)
					font-weight: 400
					//background-color red
			&_action
				position: absolute
				right: 26px
				button
					display: block
				svg
					wh 4px 16px
			&_body
				display: flex
				flex-direction: column
				row-gap 8px
				.link.-plus
					padding-left: 0
			&_actions
				position: absolute
				right -10px
				z-index 100
				w 160px
				padding 6px 21px
				background-color: RGB($pwhite)
				border 2px solid RGBA($plight_blue,.2)
				box-shadow 0 4px 16px RGBA($plight_blue,.2)
				border-radius 8px
				+desktop()
					right initial
					left -10px
				button
					display: flex
					align-items: center
					padding 8px 0
					&:hover span
						text-decoration: underline
					&:last-child
						color RGB($ured)
					svg
						wh 24px
						margin-right: 10px
	&-tabs
		display flex
		justify-content: space-between
		border-bottom: 2px solid RGB($plight_gray)
		+desktop()
			justify-content: flex-start
			column-gap 24px
	&-tab
		font 500 16px/24px Barlow
		color RGB($pdark_blue)
		padding-bottom 8px
		position: relative
		&:after
			wh 100% 2px
			content: ''
			display: block
			position: absolute
			bottom: -2px
		&.-active:after
			background RGB($plight_ocher)
	&-img
		margin 40px 0
	&-right
		margin-top 80px
		padding-bottom 80px
		+desktop()
			padding-left 80px
			margin-top 0
			padding-bottom 0
		.subtitle
			font 500 24px/28px Barlow
			color RGB($pdark_blue)
			&.-little
				font 500 16px/19px Barlow
	&-text
		max-width 466px
		margin-top 8px
	&-ensure
		margin-top 40px
		border-top 1px solid RGB($plight_gray)
		padding-top 40px
		display flex
		align-items center
		column-gap 8px
		&_img
			width 48px
			padding 0 10px
			flex-shrink 0
		&_title,&_text
			font-size: 13px
			color RGB($pdark_gray)
			max-width 395px
		&_title
			font 600 13px/15.6px Barlow
			+desktop()
				display block
		&_content
			max-width 317px
	&-left
		w 100%
		+desktop()
			w initial
		.link.-plus.btn
			w 100%
			justify-content center
			+desktop()
				w initial
.-whiteshadow
	.member-popup
		padding: 0
	.popup-half-left
		background-color transparent
	.popup-half-right
		background-color: #fff
		padding 40px 24px 80px 24px
		+desktop()
			w ( (1019 / 1920) * 100%)
			position: fixed
			right: 0
			padding 165px 100px 156px 56px
			box-shadow 0 2px 8px RGBA($plight_blue,.24)
.driver
	+desktop()
		max-width 584px
.support
	&-left
		+desktop()
			max-width 338px
	&-right
		margin-top 40px
		+desktop()
			padding-left 122px
	&-form
		position: relative
		margin-top: 0
		z-index: 0
		background-color: #fff
		padding: 40px 20px
		border: 2px solid RGBA($plight_blue, 0.2)
		box-shadow: 0 4px 16px RGBA($plight_blue, 0.16)
		border-radius: 8px
		+desktop()
			w 583px
			padding 40px
	&-text
		margin 24px 0
		padding 24px 0
		border-top 1px solid RGBA($plight_blue,.2)
		border-bottom 1px solid RGBA($plight_blue,.2)
		a
			color RGB($pdark_blue)
.report
	&-popup
		text-align left
	&.popup-half
		top -2px
	.popup
		&-half-right
			+desktop()
				w calc( (1190 / 1920) * 100%)
				padding-top: 182px
		&-close
			+desktop()
				display none
	&-left
		+desktop()
			w 368px
	&-title
		margin-bottom: 0 !important
	&-subtitle.subtitle
		font-size: 24px
		line-height: 28px
		color RGB($pdark_blue)
	&-text
		margin-top: 24px
		strong
			color RGB($pdark_blue)
			font-weight: 400
	.profile-benefits-content-text
		margin-top 16px
		color RGB($pdark_gray)
		&+.block-title
			margin-top 24px
			+desktop()
				margin-top 40px
	.block-subtitle
		margin-top: 16px
		font 500 18px Barlow
	&-list
		margin 24px 0
		padding 24px 0
		li
			margin-bottom 24px
	&-scroll-container
		+desktop()
			max-width 895px!important
			padding-right: 311px!important
			height 100%
			overflow auto
.lost
	&-title
		+desktop()
			margin-bottom 40px
	&-left
		+desktop()
			max-width 460px
		.btn
			margin-top 24px
			display flex
			align-items center
			justify-content center
			column-gap 8px
			svg
				wh 24px
	&-right
		w 100%
		margin-top 40px
		padding-bottom 40px
		+desktop()
			w initial
			padding-top 40px
			padding-left 30px
		img
			w 100%
			+desktop()
				max-width 215px
	&-subtitle
		font 500 24px Barlow
		color RGB($pdark_blue)
		+desktop()
			margin-top: 85px
	&-steps
		&-list
			column-gap 64px
			margin-top 24px
			padding-bottom 80px
			+desktop()
				display flex
				padding-bottom 0
				margin-top 40px
	&-item
		margin-top 40px
		&:first-child
			margin-top 0
		+desktop()
			max-width 240px
			margin-top: 0
		&_title,&_text
			margin-top 8px
		&_title
			font 500 16px Barlow
			color RGB($pdark_blue)
			strong
				font-weight: 500
			span
				margin-left: 9px
		&_text
			padding-left: 19px
			color RGB($pdark_gray)
			.link.-blue
				text-decoration none
		&_img
			max-width 48px
	.btn
		w 100%
		+desktop()
			w initial
.risk
	&-score
		&-row
			w 312px
			align-items: center
			justify-content: space-between
			flex-wrap wrap
			position: relative
			+desktop()
				w 460px
				flex-wrap wrap
		&-img
			w 100%
		&-digit,&-state
			margin-bottom: 24px
		&-digit
			font 500 40px/48px Barlow
		&-state
			font 700 24px/28.8px Barlow
			text-transform: uppercase
			color RGB(243,184,44)
		&-ba
			position absolute
			left calc(50% - 13px)
			bottom 47px
			wh 21px
			border-radius 100%
			display flex
			align-items center
			justify-content center
			background-color #fff
			box-shadow 0 1px 4px RGBA($plight_blue)
			+desktop()
				bottom 47px
				left: calc(50% - 19px)
			span
				display: block
				wh 13px
				border-radius 100%
				background-color: RGB($uorange)
		&-icon
			display none
			+desktop()
				display block
				&-mobile
					display none
	&-subtitle
		font-weight: 500
		margin-top: 24px
		+desktop()
			margin-top: 40px
	&-text
		margin-top 8px
		margin-bottom 20px
		&:last-child
			margin-bottom 0
	&-data
		margin-top 40px
		margin-bottom 80px
		order 2
		+desktop()
			margin-bottom: 220px
		&-head
			font 500 24px/28.8px Barlow
			align-items: center
			column-gap: 20px
			cursor: pointer
			+desktop()
				font-size 16px
				line-height 19.2px
			svg
				wh 12px 8px
		&-body
			display none
			padding-top 24px
			&.-show
				display block
			&-item
				padding 16px
				border 2px solid RGBA($plight_blue,.2)
				border-radius 8px
				column-gap 16px
				margin-bottom 16px
				flex-wrap nowrap
				+desktop()
					padding 24px
				&:last-child
					margin-bottom 0
				&_title
					font 500 24px/28.8px Barlow
				&_subtitle
					font 400 16px/19.2px Barlow
				&_text
					margin-top 8px
					color RGB($pdark_gray)
					font 400 16px/19.2px Barlow
				&_img
					margin 8px 0 0 5px
					flex 0 0 21px
					wh 21px 15px
					+desktop()
						flex 0 0 32px
						wh 32px 23px

	&-list
		display: flex
		flex-wrap wrap
		margin-top 40px
		column-gap 42px
		&-svg
			display: none
			+desktop()
				width 410px !important
				display: block
				position: absolute
				bottom: -330px
				right: -60px
				max-width 410px !important
		&-item
			position relative
			display flex
			column-gap 8px
			margin-bottom 40px
			+desktop()
				w calc(50% - 21px)
				margin-bottom 48px
			+desktop-large()
				w 340px
			&:last-child
				margin-bottom 0
			&.-first
				+desktop()
					display: none
			&.-full
				w 100%
				.risk-list-item_content
					+desktop()
						w 340px
			&_img
				flex 0 0 40px
				svg
					wh 40px
			&-title
				font-weight: 500
			&-text
				margin-top: 8px
				color: RGB($pdark_gray)
				+desktop()
					w 292px
	&-row
		display flex
		flex-direction column
		+desktop-large()
			display grid
			grid-column-gap 107px
			grid-template-columns 460px 1fr
			grid-template-areas "left right" "left2 right"
	&-left
		+desktop()
			max-width initial
			display flex
			position relative
		+desktop-large()
			&:after
				content ''
				position absolute
				wh 2px calc( (597 / 1080) * 100vh)
				top 120px
				right -107px
				background-color RGB($plight_gray)
	&-right
		margin-top 40px
		+desktop()
			margin-top: 108px
			padding-bottom 100px
		+desktop-large()
			padding-left 80px
			grid-area right
			border-bottom none
	&-left,&-right
		padding-bottom 40px
		border-bottom 2px solid RGB($plight_gray)
.n404
	&-content
		height calc( 100vh - 107px)
		display: flex
		align-items: center
		justify-content: center
		flex-direction column
		+desktop()
			height calc( 100vh - 75px)
	&-img
		display: block
		margin 40px 0 45px
	&-link
		display flex
		align-items center
		column-gap 8px
		font 500 16px/19px Barlow
		span
			color RGB($pdark_blue)
		svg
			wh 24px
		&:hover span
			text-decoration: underline
	&-need
		color RGB($pdark_gray)
	&-title
		text-align center
		font-weight 600!important
		+desktop()
			font-size 40px !important
.title
	&-head
		max-width 583px
		margin-top 24px
		+desktop()
			margin-top 40px
			.white-block_title
				order 0

.block,.details
	padding 0
	border 0
	background transparent
	box-shadow none
	&.profile-block
		background RGB($pwhite);
		border 1.5px solid RGBA($plight_blue, 0.2);
		box-shadow 0 4px 16px RGBA($plight_blue, 0.16);
	+desktop()
		background: RGB($pwhite);
		padding: 40px
		border: 1.5px solid RGBA($plight_blue, 0.2);
		box-shadow: 0px 4px 16px RGBA($plight_blue, 0.16);
	.table
		thead
			display: none
		+desktop()
			thead
				display table-header-group
		tr
			display: grid
			justify-content space-between
			align-items: center
			grid-template-columns fit-content 1fr
			grid-template-rows auto
			grid-template-areas "info actions" "info2 actions"
			padding 19px 24px
			border 2px solid RGBA($plight_blue, 0.2)
			box-shadow 0 4px 16px RGBA($plight_blue, 0.16)
			border-radius 8px
			+desktop()
				display table-row
				background initial
				padding initial
				box-shadow none
				border none
				border-bottom: 1px solid RGB($plight_gray)
				margin-top: 0
		td
			padding: 0 16px 0 0
			+desktop()
				padding: 18px 0
			&:first-child
				font 600 16px/19.2px Barlow
				padding-bottom 8px
				+desktop()
					padding 18px 0
					font-weight 400
		.table-actions
			grid-area actions
			display flex
			justify-content center
			align-items center
			height 100%
			padding 0 0 0 16px
			border-left 1px solid RGBA($plight_blue,.6)
			max-width 40px
			+desktop()
				padding: 16px 0
				border-left: none
.details,.notifications
	margin-bottom: 80px
	+desktop()
		margin-bottom: 0
	&-title
		display none
		+desktop()
			display block
.details
	w 100%
	+desktop()
		w initial
		border 0
		background-color transparent
		box-shadow none
		padding 0
	&.profile-block
		padding 24px
	&-table
		td:nth-child(2)
			display flex
		td.table-links
			grid-area actions
			padding-right: 0
			+desktop()
				text-align: right
	.table
		td:first-child
			font-weight: 400
		td,td:first-child
			+desktop()
				padding: 24px 0
		tr
			padding: 16px 0
			box-shadow none
			border none
			border-radius 0
			border-bottom 2px solid RGBA($plight_blue, 0.2);

	.btn
		w 100%
		+desktop()
			w initial

	.popup-half-right
		transform translate(0px,-60px)
		position relative
		z-index  1000
		+desktop()
			padding-top 189px
			transform translate(64px,0px)
.footer
	margin-top auto
.foot
	margin-top auto
	color RGB($pdark_gray)
	&:before
		content: ''
		display: block
		border-top: 2px solid RGBA(var(--plight_blue), 0.2);
		+desktop()
			margin-top: 80px
	+desktop()
		margin-top auto
		z-index 1000
	&-site
		+desktop()
			width: 270px
	&-site
		display: none
		+desktop()
			display: block
	&-row
		justify-content center
		padding: 24px 0 40px
		+desktop()
			justify-content space-between
			padding 24px 40px
	&-menu
		display: flex
		align-items: center
		column-gap: 9px
		+desktop()
			column-gap: 16px
		.dot
			wh 3px
			flex 0 0 3px
			border-radius 100%
			background-color: RGB($pdark_gray)
		a
			&:hover
				text-decoration: underline
	&-copy
		text-align: center
		w 100%
		display: block
		margin-top: 16px
		+desktop()
			w initial
			margin-top: 0
	.section
		+desktop()
			padding: 16px 0
.mem
	&-title
		display: none
		+desktop()
			display: block
.copy
	padding-bottom: 40px
	font 400 13px/16px Barlow
	+desktop()
		padding-bottom: 0
.reset
	&-form
		+desktop()
			padding: 149px 80px
.member-popup.driver
	.title-popup
		font-size: 32px
.monitoring
	&-block
		margin-bottom 0
		+desktop()
			margin-bottom 24px
.credit
	&-monitoring
		&-gray
			margin-top 8px
			margin-bottom 16px
			font 400 13px/15.6px Barlow
			color RGB($pdark_gray)
			+desktop()
				margin-bottom 40px
			
.-resetlink
	span,a
		display: inline!important
		
.users
	&-list
		w 100%
		padding 8px
		border-radius 8px
		background-color #fff
		border 1px solid RGBA($plight_blue,.2)
		display flex
		flex-direction column
		row-gap 8px
		position absolute
		bottom 0
		left 0
		z-index 1
	&-item
		&_btn
			w 100%
			padding 8px 16px
			border-radius 8px
			text-align left
			font 16px/19.2px Barlow
			color RGB($pdark_gray)
			&.active,&:active
				background-color RGBA($plight_blue,.2)
				color RGB($pdark_blue)