$df
  display: flex
$jufs
  justify-content flex-start
$jufe
  justify-content flex-end
$jusa
  justify-content space-around
$jusb
  justify-content space-between
$juse
  justify-content space-evenly
$juc
  justify-content center
$alist
  align-items: stretch
$alic
  align-items: center
$alis
  align-items: flex-start
$alie
  align-items: flex-end