@import mixins
@import vars
@import groups
@import reset
@import front


svg
	display: block
	max-width 100%

body
	color RGB($pdark_blue)
	background RGB($palewhite)
.btn
	border 2px solid RGB($pdark_blue)
	border-radius 8px
	padding 6px 16px
	font 500 16px/19.2px Barlow
	color RGB($pdark_blue)
	position relative
	transition .35s ease
	&:hover
		border-color: RGB($plight_blue)
		color: RGB($plight_blue)
	&:active
		border-color: RGB($plight_blue,.8)
		color: RGB($plight_blue,.8)
	&.-blue
		background-color RGB($pdark_blue)
		color RGB($pwhite)
		fill RGB($pwhite)
		&:hover
			background-color: RGB($plight_blue)
			border-color: RGB($plight_blue)
		&:focus
			background-color: RGBA($plight_blue,.4)
			border-color: transparent
	&.-full
		w 100%
	&-table
		border-radius 8px
		transition .35s ease
		&,svg
			wh(24px)
		use
			fill RGB($ured)
		&:hover
			background-color RGBA($plight_blue,.2)
		&:disabled
			opacity .2
			background-color RGBA($plight_blue,.5)
	&-eye
		position absolute
		top 16px
		right 20px
		z-index 100
		svg
			wh(18px)
			fill RGB($pdark_gray)
	&.-plus
		border 2px solid RGB($pdark_blue)
	&.-white-color
		color: #fff !important
		text-decoration: none !important
		use
			fill #fff !important
.inpt
	display: block
	input,textarea
		w(100%)
		padding 13px 16px
		border-radius 8px
		border 1px solid transparent
		background-color RGBA($plight_blue, 0.08)
		color RGB($pdark_gray)
		font 400 16px/19.2px Barlow
		&::placeholder
			color RGB($pdark_gray)
	&.-error
		input
			border 1px solid RGB($ured)
	&.-full
		input
			w 100%
	&-placeholder
		display flex
		margin-bottom 8px
.link
	color RGB($ublue)
	&.-small
		font-size 13px
		text-decoration underline
	&.-plus
		padding-left: 21px
		display: flex
		align-items: center
		color RGB($pdark_blue)
		font 500 16px/19.2px Barlow
		transition .35s ease
		&:hover
			border-color RGB($plight_blue)
			color RGB($plight_blue)
			svg use
				fill RGB($plight_blue)
		svg
			wh 24px
			margin-right: 12px
		svg use
			fill RGB($pdark_blue)
			transition .35s ease
	&.-blue
		color RGB($pdark_blue)
		text-decoration: underline
		&:hover
			color RGBA($plight_blue,1)
			text-decoration: none
.title
	font 500 32px/38.4px Barlow
.subtitle
	font 400 16px/19.2px Barlow
	color RGB($pdark_gray)
	span
		w 100%
		display block
		text-wrap initial
.text
	font 400 16px/19.2px Barlow
	color RGB($pdark_gray)
.table
	border-collapse collapse
.select,.checkbox
	display block
.select
	position relative
	cursor pointer
	&-head
		display flex
		align-items: center
		justify-content space-between
		padding 15px
		padding-right 23px
		background RGB($pwhite)
		border 1.5px solid RGBA($plight_blue,.2)
		border-radius 8px
		color RGBA($pdark_gray)
		svg
			wh(24px)
			transform rotate(90deg)
			use
				fill RGBA($pdark_gray)
	&-body
		w 100%
		z-index 1500
		position absolute
		padding 8px
		background-color #fff
		border 2px solid RGBA($plight_blue,.2)
		border-radius 8px
		opacity 0
		visibility hidden
		top 0
		transition .35s ease
		&.-show
			top 100%
			opacity 1
			visibility visible
			margin-top: 8px
		&-item
			w 100%
			text-align: left
			display: block
			padding: 8px 16px
			border-radius 8px
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0
			&.-active,&:hover
				background-color RGBA($plight_blue,.2)
			&.-action
				color: RGB($pdark_gray)

		.checkbox input:checked+span:before
			background url('/img/check_blue.png') no-repeat center !important
.checkbox
	font 500 16px/19.2px Barlow
	color RGB($pdark_gray)
	span
		display flex
		align-items center
		column-gap 8px
	input
		display: none
	span:before
		wh(17px)
		border-radius 2px
		border 2px solid  RGB($pdark_gray)
		content ''
		display block
		//background url('../img/checkbox.png')
	input:checked+span:before
		background url('../img/checkbox.png') no-repeat center
.tar
	text-align right
.tal
	text-align left
.alic
	align-items: center
.jus
	justify-content center
.jusb
	justify-content space-between
.-mt24
	margin-top 24px
.-mr80
	margin-right 80px
.nopad
	padding 0
.max-527
	max-width 527px
.error
	&-text
		margin-top: 8px
		display: block
		font 400 13px/15.6px Barlow
		color RGB($ured)
::-webkit-scrollbar {
	border-radius 3px
	width 2px
}

::-webkit-scrollbar-track {
	background: RGB($plight_gray);
	width 2px
}
::-webkit-scrollbar-thumb {
	background RGB($pdark_gray)
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
